@layout LoginLayout
@page "/Accounting/ForgotPassword"
@inject ILanguageService LanguageService
@inject AppData AppData
@inject IConfiguration Config
@inject IJSRuntime jsRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration config
@inject IToastService ToastService

<PageTitle>Forgot Password Page</PageTitle>

<div class="registration-form " >
  
    <div class="row" style="justify-content:center">
        <div class=" card" style="width: 600px;">
            <h5 class="card-header badge-warning">@AppData.LangResource[AppData.LanguageID, 27]</h5>
            <div class="card-body">
                <div class="row">
                    <label class="col-12 col-md-4 col-lg-3 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID, 180]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-7">
                        <div class="input-group input-box-bottom">
                            <input type="password"  placeholder="@AppData.LangResource[AppData.LanguageID,180]" class="form-control" />
                        </div>

                    </div>

                </div>
                <div class="row">
                    <label class="col-12 col-md-4 col-lg-3 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID, 149]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-7">
                        <div class="input-group input-box-bottom">
                            <input type="password"  placeholder="@AppData.LangResource[AppData.LanguageID,149]" class="form-control" />
                        </div>

                    </div>

                </div>
                <div class="row">

                    <label class="col-12 col-md-4 col-lg-3 col-form-label">
                        <span></span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-7">
                        <div class="input-group input-box-bottom">
                            <button type="button" class="btn btn-warning btn-sign-in" id='btn_signin'>@AppData.LangResource[AppData.LanguageID, 151]</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-warning btn-sign-in" id='btn_signin'>@AppData.LangResource[AppData.LanguageID, 158]</button>
                        </div>

                    </div>

                </div>
               
            </div>
        </div>
    </div>
   
   
        
       
       
        
        

        
       
    
</div>





@code {

    private List<LanguageModels> languages = new List<LanguageModels>();

    protected override async Task OnInitializedAsync()
    {
        languages = await LanguageService.GetLanguageModels();

        foreach (var item in languages)
        {

            AppData.LangResource[0, item.ResourceKeyID] = item.Value1;
            AppData.LangResource[1, item.ResourceKeyID] = item.Value2;
        }
        if (AppData.LanguageID != 0 && AppData.LanguageID != 1)
        {
            AppData.LanguageID = 0;
        }
        if (AppData.UserID != null)
        {
            AppData.UserID = null;
            //NavigationManager.NavigateTo("/");
        }
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("clearURL");
        }
    }
    

}

