@page "/MasterData/MasterDataInstrumentUnit"
@inject AppData AppData
@inject IToastService ToastService
@inject IMasterData _masterData
@inject IJSRuntime jsRuntime


@if (listInstrumentUnit == null)
{
    <div class="text-center mt-3">
        <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
              style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
    </div>
    <div class="text-center pt-3" style=" font-size: 16pt">
        @AppData.LangResource[AppData.LanguageID, 325]
    </div>
}
else
{

    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:10px; margin-top:10px">
                <button class="btn btn-warning" @onclick="@(() => ModalInstrumentUnitCreate.Show())">
                    @AppData.LangResource[AppData.LanguageID, 495]
                </button>

            </div>
        </div>
    </div>
    
    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@AppData.LangResource[AppData.LanguageID, 494]</div>
                <div class="card-body">
                    <div class="scrollBar fixTableHead table-responsive scroll-inner heightTable" style="height: 700px;">
                        <table id="dataTable" class="display table table-bordered table-striped text-center" width="100%">
                            <thead class="fixedthead">
                                <tr>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 322]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 493]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 145]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 146]</th>
                                </tr>
                            </thead>
                            <tbody class="scrollContent">
                                @{int id = 1;}
                                @foreach (var item in listInstrumentUnit)
                                {
                                   
                                    if (item.IsActive != null && item.IsActive == true)
                                    {
                                         <tr>
                                            <td>@id</td>
                                            <td>@item.InstrumentUnitName</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" @onclick="@(() =>InstrumentUnitUpdate(item.InstrumentUnitID))">
                                                    <i class="fas fa-edit fa-sm"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button  type="button" class="btn btn-danger" @onclick="@(() => InstrumentUnitDelete(item.InstrumentUnitID))">
                                                    <i class="fas fa-trash-alt fa-sm"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        id++;
                                    }  
                                }
                            </tbody>
                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>

<!--ModalInstrumentUnitCreate-->
<BSModal @ref="ModalInstrumentUnitCreate">
    <BSModalHeader OnClick="@(() => ModalInstrumentUnitCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 495]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 493]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentUnit.InstrumentUnitName" placeholder="@AppData.LangResource[AppData.LanguageID,493]" class="form-control" />
                </div>
            </div>
        </div>
      
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 22).permissionC)
        {
            <button type="submit" @onclick="SaveCreateInstrumentUnit" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInstrumentUnitCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentUnitEdit-->
<BSModal @ref="ModalInstrumentUnitEdit">
    <BSModalHeader OnClick="@(() => ModalInstrumentUnitEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 496]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 493]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentUnit.InstrumentUnitName" placeholder="@AppData.LangResource[AppData.LanguageID,493]" class="form-control" />
                </div>
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 22).permissionU)
        {
            <button type="submit" @onclick="SaveEditInstrumentUnit" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="button" class="btn btn-danger" @onclick="@(() => ModalInstrumentUnitEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentUnitDelete-->
<BSModal @ref="ModalInstrumentUnitDelete">
    <BSModalHeader OnClick="@(() => ModalInstrumentUnitDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 497]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <div class="col-md-12">
                <div class="alert-modal-delete">
                    @AppData.LangResource[AppData.LanguageID, 323] @AppData.LangResource[AppData.LanguageID, 493]:<br>@editInstrumentUnit.InstrumentUnitName @AppData.LangResource[AppData.LanguageID, 324] ?
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 22).permissionD)
        {
            <button type="submit" @onclick="SaveDeleteInstrumentUnit" class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        else
        {
             <button type="button" disabled class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        <button type="button" class="btn btn-info" @onclick="@(() => ModalInstrumentUnitDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>

        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>

    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
            </div>
        </div>
    </BSModalBody>
</BSModal>


@code {
    /// <summary>
    /// InstrumentUnit
    /// </summary>
    private List<InstrumentUnit> listInstrumentUnit = new List<InstrumentUnit>();
    private InstrumentUnit addInstrumentUnit = new InstrumentUnit();
    private InstrumentUnit editInstrumentUnit = new InstrumentUnit();

    /// <summary>
    /// BSModal
    /// </summary>
    BSModal Load { get; set; }
    BSModal ModalResponseError { get; set; }
    BSModal ModalRespondSuccess { get; set; }
    BSModal ModalInstrumentUnitCreate { get; set; }
    BSModal ModalInstrumentUnitEdit { get; set; }
    BSModal ModalInstrumentUnitDelete { get; set; }

    /// <summary>
    /// Variable
    /// </summary>
    private string RequertMessage;

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppData.instrumentUnits = await _masterData.GetMasterDataAsync<InstrumentUnit>("InstrumentUnit");
            listInstrumentUnit = AppData.instrumentUnits;
            ///await jsRuntime.InvokeAsync<object>("ResponsiveDataTables");
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
        }
    }


    /// <summary>
    /// Modal show InstrumentUnitUpdate
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentUnitUpdate(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentUnit>("InstrumentUnitByID", id);
            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentUnit = respond;
            //    ModalInstrumentUnitEdit.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentUnit = listInstrumentUnit.Find(u => u.InstrumentUnitID == id);
            ModalInstrumentUnitEdit.Show();

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// Modal show InstrumentUnitDelete
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentUnitDelete(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentUnit>("InstrumentUnit", id);

            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentUnit = respond;
            //    ModalInstrumentUnitDelete.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentUnit = listInstrumentUnit.Find(u => u.InstrumentUnitID == id);
            ModalInstrumentUnitDelete.Show();
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// SaveCreateInstrumentUnit
    /// </summary>
    private async Task SaveCreateInstrumentUnit()
    {
        try
        {
            var respond = await _masterData.PostMasterDataAsync("PostInstrumentUnit", addInstrumentUnit);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentUnitCreate.Hide();
    }

    /// <summary>
    /// SaveEditInstrumentUnit
    /// </summary>
    private async Task SaveEditInstrumentUnit()
    {
        try
        {
            var respond = await _masterData.PutMasterDataAsync("PutInstrumentUnit", editInstrumentUnit, editInstrumentUnit.InstrumentUnitID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentUnitEdit.Hide();
    }

    /// <summary>
    /// SaveDeleteInstrumentUnit
    /// </summary>
    private async Task SaveDeleteInstrumentUnit()
    {
        try
        {
            var respond = await _masterData.DeleteMasterDataAsync<InstrumentUnit>("DeleteInstrumentUnit", editInstrumentUnit.InstrumentUnitID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentUnitDelete.Hide();
    }

    /// <summary>
    /// ClearCreateInstrumentUnit
    /// </summary>
    private void ClearCreateInstrumentUnit()
    {
        addInstrumentUnit = new InstrumentUnit();
    }

}
