@page "/MasterData/MasterDataRadiationSourceCheckOutAction"
@inject AppData AppData
@inject IToastService ToastService
@inject IMasterData _masterData
@inject IMasterDataInventory _masterDataInventory
@inject IJSRuntime jsRuntime

@if (listRadiationSourceCheckOutAction == null)
{
    <div class="text-center mt-3">
        <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
              style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
    </div>
    <div class="text-center pt-3" style=" font-size: 16pt">
        @AppData.LangResource[AppData.LanguageID, 325]
    </div>
}
else
{
    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:10px; margin-top:10px">
                <button class="btn btn-warning" @onclick="@(() => ModalRadiationSourceCheckOutActionCreate.Show())">
                    @AppData.LangResource[AppData.LanguageID, 193]
                </button>
            </div>
        </div>
    </div>

    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@AppData.LangResource[AppData.LanguageID, 195]</div>
                <div class="card-body">
                    <div class="scrollBar fixTableHead table-responsive scroll-inner" style="height:700px;">
                        <table id="dataTable" class="table table-bordered table-striped text-center" width="100%">
                            <thead class="fixedthead">
                                <tr>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 322]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 208]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 209]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 145]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 146]</th>

                                </tr>
                            </thead>
                            <tbody class="scrollContent">
                                @{ int id = 1;}
                                @foreach (var item in listRadiationSourceCheckOutAction)
                                {
                                    if(item.IsActive != null && item.IsActive == true)
                                    {
                                      <tr>
                                        <td>@id</td>
                                        <td>@item.RadiationSourceCheckOutActionTHName</td>
                                        <td>@item.RadiationSourceCheckOutActionENName</td>
                                        <td>
                                            <button type="button" class="btn btn-warning" @onclick="@(() => RadiationSourceCheckOutActionUpdate(item.RadiationSourceCheckOutActionID))">
                                                <i class="fas fa-edit fa-sm"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" @onclick="@(() => RadiationSourceCheckOutActionDelete(item.RadiationSourceCheckOutActionID))">
                                                <i class="fas fa-trash-alt fa-sm"></i>
                                            </button>
                                        </td>
                                      </tr>
                                      id++;
                                    }
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>

<!--ModalRadiationSourceCheckOutActionCreate-->
<BSModal @ref="ModalRadiationSourceCheckOutActionCreate">
    <BSModalHeader OnClick="@(() => ModalRadiationSourceCheckOutActionCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 193]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 208]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addRadiationSourceCheckOutAction.RadiationSourceCheckOutActionTHName" placeholder="@AppData.LangResource[AppData.LanguageID,208]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 209]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="addRadiationSourceCheckOutAction.RadiationSourceCheckOutActionENName" rows="2" placeholder="@AppData.LangResource[AppData.LanguageID,209]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 39).permissionC)
        {
            <button type="submit" @onclick="SaveCreateRadiationSourceCheckOutAction" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalRadiationSourceCheckOutActionCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalRadiationSourceCheckOutActionEdit-->
<BSModal @ref="ModalRadiationSourceCheckOutActionEdit">
    <BSModalHeader OnClick="@(() => ModalRadiationSourceCheckOutActionEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 187]</BSModalHeader>
    <BSModalBody>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 208]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editRadiationSourceCheckOutAction.RadiationSourceCheckOutActionTHName" placeholder="@AppData.LangResource[AppData.LanguageID,208]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 209]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="editRadiationSourceCheckOutAction.RadiationSourceCheckOutActionENName" rows="2" placeholder="@AppData.LangResource[AppData.LanguageID,209]" class="form-control" />
                </div>
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 39).permissionU)
        {
            <button type="submit" @onclick="SaveEditRadiationSourceCheckOutAction" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalRadiationSourceCheckOutActionEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalRadiationSourceCheckOutActionDelete-->
<BSModal @ref="ModalRadiationSourceCheckOutActionDelete">
    <BSModalHeader OnClick="@(() => ModalRadiationSourceCheckOutActionDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 190]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <div class="col-md-12">
                <div class="alert-modal-delete">
                    @AppData.LangResource[AppData.LanguageID, 323] @AppData.LangResource[AppData.LanguageID, 209]:<br>@editRadiationSourceCheckOutAction.RadiationSourceCheckOutActionENName @AppData.LangResource[AppData.LanguageID, 324] ?
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 39).permissionD)
        {
            <button type="submit" @onclick="SaveDeleteRadiationSourceCheckOutAction" class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        <button type="reset" class="btn btn-info" @onclick="@(() => ModalRadiationSourceCheckOutActionDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>


@code {

    /// <summary>
    /// RadiationSourceCheckOutAction
    /// </summary>
    private List<RadiationSourceCheckOutAction> listRadiationSourceCheckOutAction= new List<RadiationSourceCheckOutAction>();
    private RadiationSourceCheckOutAction addRadiationSourceCheckOutAction = new RadiationSourceCheckOutAction();
    private RadiationSourceCheckOutAction editRadiationSourceCheckOutAction = new RadiationSourceCheckOutAction();


    /// <summary>
    /// BSModal
    /// </summary>
    BSModal Load { get; set; }
    BSModal ModalResponseError { get; set; }
    BSModal ModalRespondSuccess { get; set; }
    BSModal ModalRadiationSourceCheckOutActionCreate { get; set; }
    BSModal ModalRadiationSourceCheckOutActionEdit { get; set; }
    BSModal ModalRadiationSourceCheckOutActionDelete { get; set; }

    /// <summary>
    /// Variable
    /// </summary>
    private string RequertMessage;

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppData.radiationSourceCheckOutActions = await _masterData.GetMasterDataAsync<RadiationSourceCheckOutAction>("RadiationSourceCheckOutAction");
            listRadiationSourceCheckOutAction = AppData.radiationSourceCheckOutActions;
            //await jsRuntime.InvokeAsync<object>("ThisDataTablesAdd");
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
        }
    }

    /// <summary>
    /// Modal show RadiationSourceCheckOutActionUpdate
    /// </summary>
    /// <param name="id"></param>
    private async void RadiationSourceCheckOutActionUpdate(int id)
    {
        try
        {
            var respond = await _masterData.GetMasterDataAsyncByID<RadiationSourceCheckOutAction>("RadiationSourceCheckOutActionByID", id);
            if (string.IsNullOrEmpty(respond.Content))
            {
                editRadiationSourceCheckOutAction = respond;
                ModalRadiationSourceCheckOutActionEdit.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
            //editRadiationSourceCheckOutAction = listRadiationSourceCheckOutAction.Find(r => r.RadiationSourceCheckOutActionID == id);
            //ModalRadiationSourceCheckOutActionEdit.Show();
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        } 
    }

    /// <summary>
    /// Modal show RadiationSourceCheckOutActionDelete
    /// </summary>
    /// <param name="id"></param>
    private async void RadiationSourceCheckOutActionDelete(int id)
    {
        try
        {
            var respond = await _masterData.GetMasterDataAsyncByID<RadiationSourceCheckOutAction>("RadiationSourceCheckOutActionByID", id);
            if (string.IsNullOrEmpty(respond.Content))
            {
                editRadiationSourceCheckOutAction = respond;
                ModalRadiationSourceCheckOutActionDelete.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

            //editRadiationSourceCheckOutAction = listRadiationSourceCheckOutAction.Find(r => r.RadiationSourceCheckOutActionID == id);
            //ModalRadiationSourceCheckOutActionDelete.Show();

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }  
    }

    /// <summary>
    /// SaveCreateRadiationSourceCheckOutAction
    /// </summary>
    private async Task SaveCreateRadiationSourceCheckOutAction()
    {
        try
        {
            var respond = await _masterData.PostMasterDataAsync("PostRadiationSourceCheckOutAction", addRadiationSourceCheckOutAction);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalRadiationSourceCheckOutActionCreate.Hide();
    }

    /// <summary>
    /// SaveEditRadiationSourceCheckOutAction
    /// </summary>
    private async Task SaveEditRadiationSourceCheckOutAction()
    {
        try
        {
            var respond = await _masterData.PutMasterDataAsync("PutRadiationSourceCheckOutAction", editRadiationSourceCheckOutAction, editRadiationSourceCheckOutAction.RadiationSourceCheckOutActionID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalRadiationSourceCheckOutActionEdit.Hide();
    }

    /// <summary>
    /// SaveDeleteRadiationSourceCheckOutAction
    /// </summary>
    private async Task SaveDeleteRadiationSourceCheckOutAction()
    {
        try
        {
            var respond = await _masterData.DeleteMasterDataAsync<RadiationSourceCheckOutAction>("DeleteRadiationSourceCheckOutAction", editRadiationSourceCheckOutAction.RadiationSourceCheckOutActionID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalRadiationSourceCheckOutActionDelete.Hide();
    }

    /// <summary>
    /// ClearCreateRadiationSourceCheckOutAction
    /// </summary>
    private void ClearCreateRadiationSourceCheckOutAction()
    {
        addRadiationSourceCheckOutAction = new RadiationSourceCheckOutAction();
    }

}
