@page "/MasterData/MasterDataInventoryAgency"
@inject AppData AppData
@inject IToastService ToastService
@inject IMasterData _masterData
@inject IMasterDataInventory _masterDataInventory
@inject IJSRuntime jsRuntime

@if (listInventoryAgency == null)
{
    <div class="text-center mt-3">
        <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
              style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
    </div>
    <div class="text-center pt-3" style=" font-size: 16pt">
        @AppData.LangResource[AppData.LanguageID, 325]
    </div>
}
else
{
    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:10px; margin-top:10px">
                <button class="btn btn-warning" @onclick="@(() => ModalInventoryAgencyCreate.Show())">
                    @AppData.LangResource[AppData.LanguageID, 362]
                </button>

            </div>
        </div>
    </div>

    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@AppData.LangResource[AppData.LanguageID, 363]</div>
                <div class="card-body">
                    <div class="scrollBar fixTableHead table-responsive scroll-inner" style="height:700px;">
                        <table id="dataTable" class="table table-bordered table-striped text-center" width="100%">
                            <thead class="fixedthead">
                                <tr>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 322]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 201]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 202]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 203]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 204]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 364]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 145]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 146]</th>
                                </tr>
                            </thead>
                            <tbody class="scrollContent">
                                @{int id = 1;}
                                @foreach (var item in listInventoryAgency)
                                {
                                    @if(item.IsActive != null && item.IsActive == true)
                                    {
                                      <tr>
                                            <td>@id</td>
                                            <td>@item.InventoryAgencyName</td>
                                            <td>@item.InventoryAgencyAddress</td>
                                            <td>@item.InventoryAgencyTel</td>
                                            <td>@item.InventoryAgencyEmail</td>
                                            <td>@item.InventoryAgencyDescription</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" @onclick="@(() => InventoryAgencyUpdate(item.InventoryAgencyID))">
                                                    <i class="fas fa-edit fa-sm"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="@(() => InventoryAgencyDelete(item.InventoryAgencyID))">
                                                    <i class="fas fa-trash-alt fa-sm"></i>
                                                </button>
                                            </td>
                                      </tr>
                                      id++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>

<!--ModalInventoryAgencyCreate-->
<BSModal @ref="ModalInventoryAgencyCreate">
    <BSModalHeader OnClick="@(() => ModalInventoryAgencyCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 362]</BSModalHeader>
    <BSModalBody>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 201]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInventoryAgency.InventoryAgencyName" placeholder="@AppData.LangResource[AppData.LanguageID,201]" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 202]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="addInventoryAgency.InventoryAgencyAddress" rows="3" placeholder="@AppData.LangResource[AppData.LanguageID,202]" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 203]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInventoryAgency.InventoryAgencyTel" placeholder="@AppData.LangResource[AppData.LanguageID,203]" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 204]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInventoryAgency.InventoryAgencyEmail" placeholder="@AppData.LangResource[AppData.LanguageID,204]" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID,364]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="addInventoryAgency.InventoryAgencyDescription" rows="3" placeholder="@AppData.LangResource[AppData.LanguageID,364]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 33).permissionC)
        {
            <button type="submit" @onclick="SaveCreateInventoryAgency" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInventoryAgencyCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInventoryAgencyEdit-->
<BSModal @ref="ModalInventoryAgencyEdit">
    <BSModalHeader OnClick="@(() => ModalInventoryAgencyEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 365]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 201]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInventoryAgency.InventoryAgencyName" placeholder="@AppData.LangResource[AppData.LanguageID,201]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 202]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="editInventoryAgency.InventoryAgencyAddress" rows="3" placeholder="@AppData.LangResource[AppData.LanguageID,202]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 203]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInventoryAgency.InventoryAgencyTel" placeholder="@AppData.LangResource[AppData.LanguageID,203]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 204]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInventoryAgency.InventoryAgencyEmail" placeholder="@AppData.LangResource[AppData.LanguageID,204]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 364]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <textarea @bind="editInventoryAgency.InventoryAgencyDescription" rows="3" placeholder="@AppData.LangResource[AppData.LanguageID, 364]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 33).permissionU)
        {
            <button type="submit" @onclick="SaveEditInventoryAgency" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
             <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInventoryAgencyEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInventoryAgencyDelete-->
<BSModal @ref="ModalInventoryAgencyDelete">
    <BSModalHeader OnClick="@(() => ModalInventoryAgencyDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 366]</BSModalHeader>
    <BSModalBody>
        <div class="row">
            <div class="col-md-12">
                <div class="alert-modal-delete">
                    @AppData.LangResource[AppData.LanguageID, 323] @AppData.LangResource[AppData.LanguageID, 201]:<br>@editInventoryAgency.InventoryAgencyName @AppData.LangResource[AppData.LanguageID, 324] ?
                </div>
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 33).permissionD)
        {
            <button type="submit" @onclick="SaveDeleteInventoryAgency" class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        <button type="reset" class="btn btn-info" @onclick="@(() => ModalInventoryAgencyDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>

        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>


@code {

    /// <summary>
    /// InventoryAgency
    /// </summary>
    private List<InventoryAgency> listInventoryAgency = new List<InventoryAgency>();
    private InventoryAgency addInventoryAgency = new InventoryAgency();
    private InventoryAgency editInventoryAgency = new InventoryAgency();

    /// <summary>
    /// BSModal
    /// </summary>
    BSModal Load { get; set; }
    BSModal ModalInventoryAgencyCreate { get; set; }
    BSModal ModalInventoryAgencyEdit { get; set; }
    BSModal ModalInventoryAgencyDelete { get; set; }
    BSModal ModalResponseError { get; set; }
    BSModal ModalRespondSuccess { get; set; }

    /// <summary>
    /// Variable
    /// </summary>
    private string RequertMessage;

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppData.inventoryAgencys = await _masterData.GetMasterDataAsync<InventoryAgency>("InventoryAgency");
            listInventoryAgency = AppData.inventoryAgencys;
            //await jsRuntime.InvokeAsync<object>("ThisDataTablesAdd");
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
        }
    }

    /// <summary>
    /// Modal show InventoryAgencyUpdate
    /// </summary>
    /// <param name="id"></param>
    private async void InventoryAgencyUpdate(int id)
    {
        try
        {
            var respond = await _masterData.GetMasterDataAsyncByID<InventoryAgency>("InventoryAgencyByID", id);

            if (string.IsNullOrEmpty(respond.Content))
            {
                editInventoryAgency = respond;
                ModalInventoryAgencyEdit.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

            //editInventoryAgency = listInventoryAgency.Find(a => a.InventoryAgencyID == id);
            //ModalInventoryAgencyEdit.Show();
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// Modal show InventoryAgencyDelete
    /// </summary>
    /// <param name="id"></param>
    private async void InventoryAgencyDelete(int id)
    {
        try
        {
            var respond = await _masterData.GetMasterDataAsyncByID<InventoryAgency>("InventoryAgencyByID", id);

            if (string.IsNullOrEmpty(respond.Content))
            {
                editInventoryAgency = respond;
                ModalInventoryAgencyDelete.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

            //editInventoryAgency = listInventoryAgency.Find(a => a.InventoryAgencyID == id);
            //ModalInventoryAgencyDelete.Show();
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }  
    }

    /// <summary>
    /// SaveCreateInventoryAgency
    /// </summary>
    private async Task SaveCreateInventoryAgency()
    {
        try
        {
            var respond = await _masterData.PostMasterDataAsync("PostInventoryAgency", addInventoryAgency);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                AppData.inventoryAgencys = await _masterData.GetMasterDataAsync<InventoryAgency>("InventoryAgency");
                listInventoryAgency = AppData.inventoryAgencys;
                //await jsRuntime.InvokeAsync<object>("ThisDataTablesAdd");
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        StateHasChanged();
        ModalInventoryAgencyCreate.Hide();
    }

    /// <summary>
    /// SaveEditInventoryAgency
    /// </summary>
    private async Task SaveEditInventoryAgency()
    {
        try
        {
            var respond = await _masterData.PutMasterDataAsync("PutInventoryAgency", editInventoryAgency, editInventoryAgency.InventoryAgencyID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                AppData.inventoryAgencys = await _masterData.GetMasterDataAsync<InventoryAgency>("InventoryAgency");
                 listInventoryAgency = AppData.inventoryAgencys;
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
           StateHasChanged();
        ModalInventoryAgencyEdit.Hide();
    }

    /// <summary>
    /// SaveDeleteInventoryAgency
    /// </summary>
    private async Task SaveDeleteInventoryAgency()
    {
        try
        {
            var respond = await _masterData.DeleteMasterDataAsync<InventoryAgency>("DeleteInventoryAgency", editInventoryAgency.InventoryAgencyID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                 RequertMessage = requertException;
                 AppData.inventoryAgencys = await _masterData.GetMasterDataAsync<InventoryAgency>("InventoryAgency");
                 listInventoryAgency = AppData.inventoryAgencys;
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
           StateHasChanged();
        ModalInventoryAgencyDelete.Hide();
    }

    /// <summary>
    /// ClearCreateInventoryAgency
    /// </summary>
    private void ClearCreateInventoryAgency()
    {
        addInventoryAgency= new InventoryAgency();
    }

}
