@page "/MasterData/MasterDataInstrumentLocation"
@inject AppData AppData
@inject IToastService ToastService
@inject IMasterData _masterData
@inject IJSRuntime jsRuntime


@if (listInstrumentLocation == null)
{
    <div class="text-center mt-3">
        <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
              style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
    </div>
    <div class="text-center pt-3" style=" font-size: 16pt">
        @AppData.LangResource[AppData.LanguageID, 325]
    </div>
}
else
{
    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:10px; margin-top:10px">
                <button class="btn btn-warning" @onclick="@(() => ModalInstrumentLocationCreate.Show())">
                    @AppData.LangResource[AppData.LanguageID, 344]
                </button>
            </div>
        </div>
    </div>

    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@AppData.LangResource[AppData.LanguageID, 345]</div>
                <div class="card-body">
                    <div class="scrollBar fixTableHead table-responsive scroll-inner" style="height:700px;">
                        <table id="dataTable" class="table table-bordered table-striped text-center" width="100%">
                            <thead class="fixedthead">
                                <tr>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 322]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 346]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 347]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 200]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 145]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 146]</th>

                                </tr>
                            </thead>
                            <tbody class="scrollContent">
                                @{int id = 1;}
                                @foreach (var item in listInstrumentLocation)
                                {
                                    if (item.IsActive != null && item.IsActive == true)
                                    {
                                        <tr>
                                            <td>@id</td>
                                            <td>@item.InstrumentLocationName</td>
                                            <td>@item.InstrumentLocationNameENG</td>
                                            <td>@item.InstrumentLocationDescription</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" @onclick="@(() => InstrumentLocationUpdate(item.InstrumentLocationID))">
                                                    <i class="fas fa-edit fa-sm"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="@(() => InstrumentLocationDelete(item.InstrumentLocationID))">
                                                    <i class="fas fa-trash-alt fa-sm"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        id++;
                                    } 
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>

<!--ModalInstrumentLocationCreate-->
<BSModal @ref="ModalInstrumentLocationCreate">
    <BSModalHeader OnClick="@(() => ModalInstrumentLocationCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 344]</BSModalHeader>
    <BSModalBody>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 346]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentLocation.InstrumentLocationName" placeholder="@AppData.LangResource[AppData.LanguageID, 346]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 347]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentLocation.InstrumentLocationNameENG" placeholder="@AppData.LangResource[AppData.LanguageID, 347]" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 200]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentLocation.InstrumentLocationDescription" placeholder="@AppData.LangResource[AppData.LanguageID,200]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 27).permissionC)
        {
            <button type="submit" @onclick="SaveCreateInstrumentLocation" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInstrumentLocationCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentLocationEdit-->
<BSModal @ref="ModalInstrumentLocationEdit">
    <BSModalHeader OnClick="@(() => ModalInstrumentLocationEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 348]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 346]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentLocation.InstrumentLocationName" placeholder="@AppData.LangResource[AppData.LanguageID, 346]" class="form-control" />
                </div>
            </div>

        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 347]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentLocation.InstrumentLocationNameENG" placeholder="@AppData.LangResource[AppData.LanguageID, 347]" class="form-control" />
                </div>
            </div>

        </div>
        <div class="row">
            <label class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 200]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentLocation.InstrumentLocationDescription" placeholder="@AppData.LangResource[AppData.LanguageID,200]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 27).permissionU)
        {
            <button type="submit" @onclick="SaveEditInstrumentLocation" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInstrumentLocationEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentLocationDelete-->
<BSModal @ref="ModalInstrumentLocationDelete">
    <BSModalHeader OnClick="@(() => ModalInstrumentLocationDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 349]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <div class="col-md-12">
                <div class="alert-modal-delete">
                    @AppData.LangResource[AppData.LanguageID, 323] @AppData.LangResource[AppData.LanguageID, 346]:<br>@editInstrumentLocation.InstrumentLocationName @AppData.LangResource[AppData.LanguageID, 324] ?
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 27).permissionD)
        {
            <button type="submit" @onclick="SaveDeleteInstrumentLocation" class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        <button type="reset" class="btn btn-info" @onclick="@(() => ModalInstrumentLocationDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>

        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

@code {

    /// <summary>
    /// InstrumentLocation
    /// </summary>
    private List<InstrumentLocation> listInstrumentLocation = new List<InstrumentLocation>();
    private InstrumentLocation addInstrumentLocation = new InstrumentLocation();
    private InstrumentLocation editInstrumentLocation = new InstrumentLocation();

    /// <summary>
    /// BSModal
    /// </summary>
    BSModal Load { get; set; }
    BSModal ModalInstrumentLocationCreate { get; set; }
    BSModal ModalInstrumentLocationEdit { get; set; }
    BSModal ModalInstrumentLocationDelete { get; set; }
    BSModal ModalResponseError { get; set; }
    BSModal ModalRespondSuccess { get; set; }

    /// <summary>
    /// Variable
    /// </summary>
    private string RequertMessage;

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppData.instrumentLocations = await _masterData.GetMasterDataAsync<InstrumentLocation>("InstrumentLocation");
            listInstrumentLocation = AppData.instrumentLocations;
            //await jsRuntime.InvokeAsync<object>("ThisDataTablesAdd");
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
        }
    }

    /// <summary>
    /// Modal show InstrumentLocationUpdate
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentLocationUpdate(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentLocation>("InstrumentLocationByID", id);

            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentLocation = respond;
            //    ModalInstrumentLocationEdit.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentLocation = listInstrumentLocation.Find(l => l.InstrumentLocationID == id);
            ModalInstrumentLocationEdit.Show();
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// Modal show InstrumentLocationDelete
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentLocationDelete(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentLocation>("InstrumentLocationByID", id);

            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentLocation = respond;
            //    ModalInstrumentLocationDelete.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentLocation = listInstrumentLocation.Find(l => l.InstrumentLocationID == id);
            ModalInstrumentLocationDelete.Show();

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// SaveCreateInstrumentLocation
    /// </summary>
    private async Task SaveCreateInstrumentLocation()
    {
        try
        {
            var respond = await _masterData.PostMasterDataAsync("PostInstrumentLocation", addInstrumentLocation);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentLocationCreate.Hide();
    }

    /// <summary>
    /// SaveEditInstrumentLocation
    /// </summary>
    private async Task SaveEditInstrumentLocation()
    {
        try
        {
            var respond = await _masterData.PutMasterDataAsync("PutInstrumentLocation", editInstrumentLocation, editInstrumentLocation.InstrumentLocationID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentLocationEdit.Hide();
    }

    /// <summary>
    /// SaveDeleteInstrumentLocation
    /// </summary>
    private async Task SaveDeleteInstrumentLocation()
    {
        try
        {
            var respond = await _masterData.DeleteMasterDataAsync<InstrumentLocation>("DeleteInstrumentLocation", editInstrumentLocation.InstrumentLocationID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentLocationDelete.Hide();
    }

    /// <summary>
    /// ClearCreateInstrumentLocation
    /// </summary>
    private void ClearCreateInstrumentLocation()
    {
        addInstrumentLocation = new InstrumentLocation();
    }

}
