@page "/MasterData/MasterDataInstrumentType"
@inject AppData AppData
@inject IToastService ToastService
@inject IMasterData _masterData
@inject IJSRuntime jsRuntime


@if (listInstrumentType == null)
{
    <div class="text-center mt-3">
        <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
              style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
    </div>
    <div class="text-center pt-3" style=" font-size: 16pt">
       @AppData.LangResource[AppData.LanguageID, 325]
    </div>
}
else
{
    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:10px; margin-top:10px">
                <button class="btn btn-warning" @onclick="@(() => ModalInstrumentTypeCreate.Show())">
                    @AppData.LangResource[AppData.LanguageID, 354]
                </button>

            </div>
        </div>
    </div>

    <div class="row margin-row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@AppData.LangResource[AppData.LanguageID, 355]</div>
                <div class="card-body">
                    <div class="scrollBar fixTableHead table-responsive scroll-inner" style="height:700px;">
                        <table id="dataTable" class="table table-bordered table-striped text-center" width="100%">
                            <thead class="fixedthead">
                                <tr>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 322]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 196]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 219]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 145]</th>
                                    <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 146]</th>

                                </tr>
                            </thead>
                            <tbody class="scrollContent">
                                @{int id = 1;}
                                @foreach (var item in listInstrumentType)
                                {
                                    @if(item.IsActive != null && item.IsActive == true)
                                    {
                                       <tr>
                                            <td>@id</td>
                                            <td>@item.InstrumentTypeName</td>
                                            <td>@item.InstrumentTypeDescription</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" @onclick="@(() => InstrumentTypeUpdate(item.InstrumentTypeID))">
                                                    <i class="fas fa-edit fa-sm"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="@(() => InstrumentTypeDelete(item.InstrumentTypeID))">
                                                    <i class="fas fa-trash-alt fa-sm"></i>
                                                </button>
                                            </td>
                                       </tr>
                                       id++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>

<!--ModalInstrumentTypeCreate-->
<BSModal @ref="ModalInstrumentTypeCreate">
    <BSModalHeader OnClick="@(() => ModalInstrumentTypeCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 354]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label for="typeName" class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 196]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentType.InstrumentTypeName" placeholder="@AppData.LangResource[AppData.LanguageID,196]" class="form-control" />
                </div>
              
            </div>
        </div>
        <div class="row">
            <label for="typeDescription" class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 219]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="addInstrumentType.InstrumentTypeDescription" placeholder="@AppData.LangResource[AppData.LanguageID,219]" class="form-control" />
                </div>
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 29).permissionC)
        {
            <button type="submit" @onclick="SaveCreateInstrumentType" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInstrumentTypeCreate.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentTypeEdit-->
<BSModal @ref="ModalInstrumentTypeEdit">
    <BSModalHeader OnClick="@(() => ModalInstrumentTypeEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 356]</BSModalHeader>
    <BSModalBody>

        <div class="row">
            <label for="typeName" class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 196]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentType.InstrumentTypeName" placeholder="@AppData.LangResource[AppData.LanguageID,196]" class="form-control" />
                </div>

            </div>
        </div>
        <div class="row">
            <label for="typeDescription" class="col-12 col-md-4 col-lg-4 col-form-label">
                <span>@AppData.LangResource[AppData.LanguageID, 219]</span>
            </label>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group input-box-bottom">
                    <input type="text" @bind-value="editInstrumentType.InstrumentTypeDescription" placeholder="@AppData.LangResource[AppData.LanguageID,219]" class="form-control" />
                </div>
            </div>
        </div>

    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 29).permissionU)
        {
            <button type="submit" @onclick="SaveEditInstrumentType" class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-success">@AppData.LangResource[AppData.LanguageID, 44]</button>
        }
        <button type="reset" class="btn btn-danger" @onclick="@(() => ModalInstrumentTypeEdit.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalInstrumentTypeDelete-->
<BSModal @ref="ModalInstrumentTypeDelete">
    <BSModalHeader OnClick="@(() => ModalInstrumentTypeDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 357]</BSModalHeader>
    <BSModalBody>
       <div class="row">
            <div class="col-md-12">
                <div class="alert-modal-delete">
                    @AppData.LangResource[AppData.LanguageID, 323] @AppData.LangResource[AppData.LanguageID, 196]:<br>@editInstrumentType.InstrumentTypeName @AppData.LangResource[AppData.LanguageID, 324] ?
                </div>
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        @if (AppData.CurrentPermission.Find(i => i.permissionID == 29).permissionD)
        {
            <button type="submit" @onclick="SaveDeleteInstrumentType" class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        else
        {
            <button type="button" disabled class="btn btn-danger">@AppData.LangResource[AppData.LanguageID, 610]</button>
        }
        <button type="reset" class="btn btn-info" @onclick="@(() => ModalInstrumentTypeDelete.Hide())">@AppData.LangResource[AppData.LanguageID, 158]</button>
    </BSModalFooter>
</BSModal>

<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>

        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>


@code {

    /// <summary>
    /// InstrumentType
    /// </summary>
    private List<InstrumentType> listInstrumentType = new List<InstrumentType>();
    private InstrumentType addInstrumentType = new InstrumentType();
    private InstrumentType editInstrumentType = new InstrumentType();

    /// <summary>
    /// BSModal
    /// </summary>
    BSModal Load { get; set; }
    BSModal ModalInstrumentTypeCreate { get; set; }
    BSModal ModalInstrumentTypeEdit { get; set; }
    BSModal ModalInstrumentTypeDelete { get; set; }
    BSModal ModalResponseError { get; set; }
    BSModal ModalRespondSuccess { get; set; }

    /// <summary>
    /// Variable
    /// </summary>
    private string RequertMessage;

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppData.instrumentTypes = await _masterData.GetMasterDataAsync<InstrumentType>("InstrumentType");
            listInstrumentType = AppData.instrumentTypes;
            //await jsRuntime.InvokeAsync<object>("ThisDataTablesAdd");
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
        }
    }

    /// <summary>
    /// Modal show InstrumentTypeUpdate
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentTypeUpdate(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentType>("InstrumentTypeByID", id);

            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentType = respond;
            //    ModalInstrumentTypeEdit.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentType = listInstrumentType.Find(t => t.InstrumentTypeID == id);
            ModalInstrumentTypeEdit.Show();

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// Modal show InstrumentTypeDelete
    /// </summary>
    /// <param name="id"></param>
    private void InstrumentTypeDelete(int id)
    {
        try
        {
            //var respond = await _masterData.GetMasterDataAsyncByID<InstrumentType>("InstrumentTypeByID", id);

            //if (string.IsNullOrEmpty(respond.Content))
            //{
            //    editInstrumentType = respond;
            //    ModalInstrumentTypeDelete.Show();
            //}
            //else
            //{
            //    var requertException = respond.Content;
            //    RequertMessage = requertException;
            //    ModalResponseError.Show();
            //}

            editInstrumentType = listInstrumentType.Find(t => t.InstrumentTypeID == id);
            ModalInstrumentTypeDelete.Show();

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
    }

    /// <summary>
    /// SaveCreateInstrumentType
    /// </summary>
    private async Task SaveCreateInstrumentType()
    {
        try
        {
            var respond = await _masterData.PostMasterDataAsync("PostInstrumentType", addInstrumentType);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }

        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentTypeCreate.Hide();
    }

    /// <summary>
    /// SaveEditInstrumentType
    /// </summary>
    private async Task SaveEditInstrumentType()
    {
        try
        {
            var respond = await _masterData.PutMasterDataAsync("PutInstrumentType", editInstrumentType, editInstrumentType.InstrumentTypeID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentTypeEdit.Hide();
    }

    /// <summary>
    /// SaveDeleteInstrumentType
    /// </summary>
    private async Task SaveDeleteInstrumentType()
    {
        try
        {
            var respond = await _masterData.DeleteMasterDataAsync<InstrumentType>("DeleteInstrumentType", editInstrumentType.InstrumentTypeID);
            if (!string.IsNullOrEmpty(respond.ToString()))
            {
                var requertException = respond.StatusMessage;
                RequertMessage = requertException;
                await OnInitializedAsync();
                ModalRespondSuccess.Show();
            }
            else
            {
                var requertException = respond.Content;
                RequertMessage = requertException;
                ModalResponseError.Show();
            }
        }
        catch (Exception e)
        {
            var val = e.Message;
            RequertMessage = val;
            ModalResponseError.Show();
        }
        ModalInstrumentTypeDelete.Hide();
    }

    /// <summary>
    /// ClearCreateInstrumentType
    /// </summary>
    private void ClearCreateInstrumentType()
    {
        addInstrumentType= new InstrumentType();
    }

}
