@page "/Instruments/InstrumentMA"
@inject IJSRuntime jsRuntime
@inject AppData AppData
@inject IInstrumentService InstrumentService
@inject IInstrumentBrandService InstrumentBrandService
@inject IInstrumentModelService InstrumentModelService
@inject IInstrumentDiscardService InstrumentDiscardService
@inject IInstrumentAgencyService InstrumentAgencyService
@inject IToastService ToastService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using System.Threading
@using System.Globalization

<PageTitle>Due Maintenance Page</PageTitle>

<div class="col-md-12">

    <div class="card-header" style="background-color:#3CBBCE; color:#fff">@AppData.LangResource[AppData.LanguageID, 14]</div>
    <div class="card-body bg-light">
        <div class="scrollBar fixTableHead table-responsive scroll-inner" style="height:720px;">
            @if (AppData.DueMa.Count != 0)
            {
                <table class="table table-striped text-center">
                    <thead class="fixedthead">
                        <tr>
                            <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 408]</th>
                            <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 61]</th>
                            <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 412]</th>
                            <th class="alternateRow">@AppData.LangResource[AppData.LanguageID, 413]</th>

                        </tr>
                    </thead>
                    <tbody class="scrollContent">
                       @foreach (var item in AppData.DueMa
                               .Where(item => item.instrument != null && item.InstrumentMaintenanceNext.HasValue)
                               .OrderBy(item => item.InstrumentMaintenanceNext.Value.Date)
                               .ThenBy(item => Math.Abs((item.InstrumentMaintenanceNext.Value.Date - DateTime.Now.Date).TotalDays))
                               .ThenBy(item => item.InstrumentMaintenanceNext.Value.Date))
                        {
                            DateTime maintenanceNext = item.InstrumentMaintenanceNext.Value.Date;
                            DateTime currentDate = DateTime.Now.Date;
                            TimeSpan timeDifference = maintenanceNext - currentDate;
                            var rowColorClass = "";

                            if (maintenanceNext < currentDate)
                            {
                                rowColorClass = "bg-danger text-white"; // แถวเกินกำหนดสีแดง
                            }
                            else
                            {
                                rowColorClass = "bg-warning"; // ยังไม่ถึงเวลากำหนด Due
                            }
                           @*  else if (timeDifference.TotalDays <= 5)
                            {
                                rowColorClass = "bg-warning"; // แถวใกล้ถึงกำหนดสีเหลือง
                            } *@

                            <tr class="@rowColorClass" @onclick="() => TrClickedAtIndex(item.instrument.InstrumentID)">
                                <td style="cursor:default">@(item.instrument != null? item.instrument.InstrumentENName:"-")</td>
                                <td style="cursor:default">@(item.instrument != null? item.instrument.InstrumentNumber:"-")</td>
                                <td style="cursor:default">
                                    @(item != null? item.InstrumentMaintenanceNext.Value.Date.ToString("dd/MM/yyyy"):"-")
                                </td>
                                <td>

                                    <a href="@($"Instruments/Maintenance/{item.instrument.InstrumentNumber}")" class="btn" style="background-color:#3CBBCE;color:#fff">@AppData.LangResource[AppData.LanguageID, 413]</a>


                                    <!--<a href="@($"Instrument/ShowInstrument/{item.instrument.InstrumentID}")" class="btn btn-primary" name="ShowInstrument" id="ShowInstrument">Show Instrument</a>
                                    -->

                                </td>
                            </tr>


                            @*<BSAlert Color="Color.Danger" IsDismissible="true">
                    Alert Instrument Name:@item.instrument.InstrumentENName - Number: @item.instrument.InstrumentNumber   is Due Calibrate  in @item.InstrumentCalibrationNext.ToString("dd/MM/yyyy")
                    </BSAlert>*@
                        }
                    </tbody>
                </table>
            }
            else
            {
                <BSAlert Color="Color.Warning" IsDismissible="true">
                    @AppData.LangResource[AppData.LanguageID, 414]
                </BSAlert>
            }

        </div>
    </div>

</div>



@code {



    /// <summary>
    /// onclick select table getbyID
    /// </summary>
    public int? ID { get; set; }
    public void TrClickedAtIndex(int? Number)
    {
        ID = Number;
    }

    /// <summary>
    /// Instrument list is not selected
    /// </summary>
    private void ShowInstrumentError()
    {
        ToastService.ShowError("Instrument list is not selected.");
    }

    /// <summary>
    /// ModalDiscard
    /// </summary>
    BSModal InstrumentDiscard { get; set; }

    /// <summary>
    /// clearURL
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("clearURL");
        }
    }


}
