@inherits RegisterProjectBase
@page "/Record/RegisterProject"

<PageTitle>Register Project Page</PageTitle>

<!--EditForm Model="@recordEvent" OnValidSubmit="CreateEventRegister"--->
<div class="row margin-row-card">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">

                @if (addProject.ProjectNumber != null)
                {
                    <div class="">@AppData.LangResource[AppData.LanguageID,552]: @addProject.ProjectNumber </div>
                }
                else
                {
                    <div class="">@AppData.LangResource[AppData.LanguageID,552]: </div>
                }
            </div>
            <div class="card-body style-justify">
                <div class="row">
                    <label for="projectName" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,553]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <input type="text" @bind-value="addProject.ProjectName" placeholder="@AppData.LangResource[AppData.LanguageID,553]" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <label for="provinceRegional" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,554]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <select class="form-control" @bind="addProject.ProjectRegional">
                                <option value="0">@AppData.LangResource[AppData.LanguageID,2]</option>
                                @foreach (var item in AppData.recordRegionals)
                                {
                                    @if (AppData.LanguageID == 0)
                                    {
                                        <option value="@item.RegionalNumber">@item.RegionalENName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.RegionalNumber">@item.RegionalTHName</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <label for="projectType" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,555]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <select class="form-control" @bind="addProject.ProjectType">
                                <option value="0">@AppData.LangResource[AppData.LanguageID,2]</option>
                                @foreach (var item in AppData.recordProjectTypes)
                                {
                                    if (item.IsActive == true && item.IsActive != null)
                                    {
                                        @if (AppData.LanguageID == 0)
                                        {
                                            <option value="@item.ProjectTypeID">@item.ProjectTypeENName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ProjectTypeID">@item.ProjectTypeTHName</option>
                                        }
                                    }


                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="startDate" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,32]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <input type="date" @bind-value="addProject.ProjectStartDate" placeholder="@AppData.LangResource[AppData.LanguageID,32]" class="form-control" />
                        </div>
                    </div>
                    <label for="endDate" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,33]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <input type="date" @bind-value="addProject.ProjectEndDate" placeholder="@AppData.LangResource[AppData.LanguageID,33]" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="registertBy" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,556]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <select class="form-control" @bind="addProject.ProjectRegisteredBy">
                                <option selected value="">@AppData.LangResource[AppData.LanguageID,2]</option>
                                @foreach (var item in accounts)
                                {
                                    if (item.IsActive)
                                    {
                                        <option value="@item.UserID">@item.FirstName</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <label for="informerName" class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,235]</span>
                    </label>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="input-group input-box-bottom">
                            <input type="text" @bind-value="addProject.ProjectInformerName" placeholder="@AppData.LangResource[AppData.LanguageID,235]" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-12 col-md-4 col-lg-2 col-form-label">
                        <span>@AppData.LangResource[AppData.LanguageID,37]</span>
                    </label>
                    <div class="col-12 col-md-12 col-lg-8 input-box-bottom">
                        <textarea @bind="addProject.ProjectRecommend" rows="2" placeholder="@AppData.LangResource[AppData.LanguageID,37]" class="form-control"></textarea>
                    </div>

                </div>
            </div>
            <div class="text-center" style="margin-top: -1.5rem; margin-bottom: 0.5rem;">
                @if (addProject.ProjectName != "" && addProject.ProjectRegional != 0 && addProject.ProjectRegional != null && addProject.ProjectType != 0 && addProject.ProjectType != null && AppData.CurrentPermission.Find(i => i.permissionID == 43).permissionC)
                {
                    <button type="submit" @onclick="SaveCreateProject" class="btn margin-btn" style="background-color:#4CBB17; color:#fff">Save</button>
                }
                else
                {
                    <button type="submit" disabled class="btn margin-btn" style="background-color:#4CBB17;color:#fff">@AppData.LangResource[AppData.LanguageID,44]</button>
                }

                @if (addProject.ProjectNumber != "" && addProject.ProjectNumber != null)
                {
                    <a href="@($"Record/ManageProject/{addProject.ProjectID}")" class="btn margin-btn" style="background-color:#FEAE00;color:#fff">@AppData.LangResource[AppData.LanguageID,560]</a>
                }
                else
                {
                    <button type="button" class="btn margin-btn" disabled style="background-color:#FEAE00;color:#fff">@AppData.LangResource[AppData.LanguageID,560]</button>
                }

                <button type="button" @onclick="ClearRegisterProject" class="btn btn-danger margin-btn">@AppData.LangResource[AppData.LanguageID,45]</button>

            </div>
        </div>
    </div>
</div>

<!--Loading-->
<BSModal class="row style-justify mt-5" @ref="Load" IsCentered="true" Size="Size.Small" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalBody>
        <div class="text-center mt-3">
            <span class="spinner-border text-warning spinner-border-sm " role="status" aria-hidden="true"
                  style="font-size: 16pt; width: 36px; height: 36px; color: Gold " />
        </div>
        <div class="text-center pt-3" style=" font-size: 16pt">
            @AppData.LangResource[AppData.LanguageID, 325]
        </div>
    </BSModalBody>
</BSModal>
<!--ModalResponseError-->
<BSModal Class="text-center" @ref="ModalResponseError" IsCentered="true" Size="Size.Large">
    <BSModalBody>

        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/delete_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="alert-modal">@RequertMessage</p>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalResponseError.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

<!--ModalRespondSuccess-->
<BSModal Class="text-center alert-modal-body" @ref="ModalRespondSuccess" IsCentered="true" Size="Size.Large">
    <BSModalBody>
        <div class="row">
            <div class="col-md-12 alert-modal-logo">
                <img src="assets/images/img-common/tick_symbol.png" width="100" height="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="alert-modal">@RequertMessage</h4>
            </div>
        </div>
        <button type="button" @onclick="@(() => ModalRespondSuccess.Hide())" class="btn btn-success alert-modal-button">@AppData.LangResource[AppData.LanguageID, 330]</button>
    </BSModalBody>
</BSModal>

